body, html{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #333;
    color: white;
    background-color: #333;
}
/* Tables */
table{
    width: 60rem;
    margin-left: 15%;
    font-size: 14px;
    margin-right: 15%;
    table-layout: auto;
    background: #001219;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
table tr td{
    color: white;
    align-items: center;
    text-align: left;
    padding: 5px;
    padding-top: 10px;
}
table tr td button{
    background: none;
    color: ghostwhite;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    gap: 20px;
    padding: 7px;
}
table tr th{
    border-bottom: 1px solid ghostwhite;
    color: white;
    text-align: left;
}
.divTb{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Metricas */
.metrics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
     
}
.metric{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    border-radius: 10px;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
}
.metric p{
    font-size: 16px;
    font-weight: 700;
}
.metric span{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}
.metric img{
    width: 24px;
    height: 24px;
}
.tituloCard{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Topper */
.topp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0;
    background-color: #343a40;
    margin-bottom: 20px;
}
.logo{
    height: 20px;
    margin-left: 5%;
}
.op{
    background: none;
    border: none;
    color: white;
}
.op:hover{
    border-bottom: 3px solid white;
}
.options{
    display: flex;
    /* width: 80%; */
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 5px;
}
.contGraph{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
    margin-left: 10%;
    margin-right: 10%;
}
.graph{
    min-width: 30%;
    min-height: 30%;
}
.btnUser{
    background: none;
    border: none;
    color: #fff;
    font-size: small;
}
.userCont{
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding-right: 5%;
}
.btnSair{
    background-color: #c1121f;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #0000;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3rem;
    font-size: 13   px;
}