<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={{url_for('static', filename='icons/favicon.ico')}}>
    <link rel="stylesheet" href={{url_for('static', filename="css/clientes.css")}}>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script type="module" src={{url_for('static', filename="js/barChart.js")}}></script>
    <script type="module" src={{url_for('static', filename="js/lineChart.js")}}></script>
    <script type="module" src={{url_for('static', filename="js/getDados.js")}}></script>
    <title>Painel de Clientes</title>
</head>
<body>
    <!-- MENU BAR  -->
    <div class="topp">
        <img src={{url_for('static', filename='logo-white.png')}}>
        <div class="options">
            <button class="op">Home</button>
            <button class="op">Empresas</button>
            <button class="op">Download</button>
        </div>
        <div class="userCont">
            <img id="imgUser" src={{url_for('static', filename="icons/userLogin.png")}}>
            <h1 class="btnUser" id="btnLgOut">User</h1>
            <button id="btnSair" class="btnSair">
                <img id="imgUser" src={{url_for('static', filename="icons/exit.png")}}>
                Sair
            </button>
        </div>
    </div>

    <!-- Metricas -->
    <div class="metrics">
        <div class="metric" style="background-color: #7209b7;">
            <div class="tituloCard">
                <img src={{url_for('static', filename="icons/User.png")}}>
                <p>Clientes</p>
            </div>
            <span>{{total}}</span>
        </div>
        <div class="metric" style="background-color: #4361ee;">
            <div class="tituloCard">
                <img src={{url_for('static', filename="icons/on.png")}}>
                <p>Ativos</p>
            </div>
            <span>{{totalAtivos}}</span>
        </div>
        <div class="metric" style="background-color: #e63946;">
            <div class="tituloCard">
                <img src={{url_for('static', filename="icons/inativo.png")}}>
                <p>Inativos</p>
            </div>
            <span>{{totalInativos}}</span>
        </div>
        <div class="metric" style="background-color: #3a5a40;">
            <div class="tituloCard">
                <img src={{url_for('static', filename="icons/fat.png")}}>
                <p>Faturamento</p>
            </div>
            <span>R$ {{faturamento}}</span>
        </div>
    </div>

    <!-- Graficos -->
    <div class="contGraph">
        <div class="graph"><canvas id="barChart"></canvas></div>
        <div class="graph"><canvas id="lineChart"></canvas></div>
    </div>

    <!-- Tabela -->
    <div class="divTb">
        <table>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Hubbix</th>
                    <th scope="col" colspan="2">Situação</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cli %}
                <tr>
                    <td>{{cli[i]['Nome do Negociante'].split()[0].capitalize()}}</td>
                    <td>{{cli[i]['Nome da Loja'].capitalize()}}</td>
                    <td>{{cli[i]['Sistema Escolhido'].capitalize()}}</td>
                    {% if cli[i]['Situação'] == 'Ativa' %}
                        <td style="color: #2f5e36;">{{cli[i]['Situação'].capitalize()}}</td>
                    {% else %}
                        <td style="color: #c1121f;">{{cli[i]['Situação'].capitalize()}}</td>
                    {% endif %}
                    <td>
                        <button onclick=redirect('{{i}}') >
                            Acessar
                        </button>
                    </td>
                </tr>
                {% endfor %}
                <script>
                    function redirect(id){
                        window.location = '/acesso/'+id
                    }
                </script>
            </tbody>
        </table>
    
    </div>
</body>
</html>