<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{dados['Nome da Loja'].capitalize()}}</title>
    <link rel="icon" href={{url_for('static', filename='icons/favicon.ico')}}>
    <link rel="stylesheet" href={{url_for('static', filename="css/empresa.css")}}>
</head>
<body>
    <div class="top">
        <img src={{url_for('static', filename="logo-white.png")}} class="logo">
    </div>
    <div class="container">
        <div class="graphs">
            <div class="metrics">
                <div class="card" style="background-color: #283618;">
                    <p>Total de Vendas</p>
                    <p style="font-weight: 700;">R$ {{resultados['totalVendas']}}</p>
                </div>
                <div class="card" style="background-color: #2a9d8f;">
                    <p>Quantidade de Vendas</p>
                    <p style="font-weight: 700;">{{resultados['contagemVendas']}}</p>
                </div>
            </div>
        </div>
        <div class="infos">
            <p style="font-size: large; text-decoration: underline;">Dados da Loja: <b>{{dados['Nome da Loja'].capitalize()}}</b></p>
            {%for item in dados%}
                {% if item != 'db' and item != 'Dados da Loja'%}
                    {% if item == "IP's"%}
                        {% for tipo in dados[item]%}
                            <p class="items"><b>IP {{tipo}}:</b> {{dados[item][tipo]}}</p>
                        {% endfor %}
                    {% elif item == 'Endereço' %}
                        <p class="items"><b>Endereço:</b></p>
                        {% for sub in dados[item] %}
                                <p class="items"><b>- {{sub.upper()}}:</b> {{dados[item][sub]}}</p>
                        {% endfor %}
                    {% else %}
                        <p class="items"><b>{{item}}:</b> {{dados[item].capitalize()}}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if dados['Situação'] == 'Ativa' %}
            <button class="btnDeactivate">Desativar Loja</button>
        {% elif dado['Situação'] == 'Inativa' %}
            <button class="btnActivate">Ativar Loja</button>
        {% endif %}
    </div>
</body>
</html>