<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{url_for('static', filename="style.css")}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubbix Systems - Login</title>
</head>
<body>
    <div class="container">
        <div>
            <img alt="logo">
            <br>
        </div>
        <div>
            <input type="email"><br>
            <input type="password"><br>
            <button><img alt="img"> Login</button>
        </div>
    </div>
</body>
</html>