<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/lasted.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Hubbix - Notas de Atualização</title>
</head>
<body style="background: #333; color: #fff;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="../static/logo-white.png" class="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 60%">

          </div>
        </div>
    </nav>

    <div class="contInfo">
        <div class="infos">
            <h1>
                Notas de Atualização - <b>Versão {{version}}</b>
            </h1>
            <ul>
                <b>Bugs Fixed: (Erros corrigidos)</b>
                <li>Demora na atualização de pagina</li>
                <li>OS sem conseguir fechar</li>
                <li>OS sem aparecer como vendas</li>
                <li>Funcionarios sem Matriculas</li>
                <li>Relatórios fechando sozinho</li>
                <li>Banco de dados sem salvar!</li>
                <br>
                <b>News: (Novas funções)</b>
                <li>PreSplash - carregamento antes do inicio do app!</li>
                <li>Fechar OS sem obrigatóriedade de Peças!</li>

            </ul>
            <a href="https://mega.nz/file/fM0nyYKB#9t6qCwkQrkoSbSMSZNooJSqAIIve3JCS8tGp5Id6OlU">
                <button class="btn btn-success" id="btnBaixar">
                    <i class="bi bi-cloud-arrow-down"></i>
                    Baixar Versão Atualizada
                </button>
            </a>
        </div>
    </div>
</body>
</html>