<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Hubbix Systems - Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{url_for('static', filename="css/login.css")}}>
    <link rel="icon" href={{url_for('static', filename='icons/favicon.ico')}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src={{url_for('static', filename="js/login.js")}}></script>
</head>
<body>
    <div class="container">
            <img class="logo" src={{url_for('static', filename="logo-white.png")}}>
            <form id="login">
                <input id="email" typ   e="email" placeholder="Email" required="required" autocomplete="email">
                <input id="pwd" type="password" placeholder="Senha" required="required" autocomplete="current-password">
                <p id="status" style="text-align: center; margin-top: 10px; color: #e63946; background-color: aliceblue; border-radius: 10px;"></p>
            </form>
            <button id="btn">Login</button>
    </div>
</body>
</e63946