<!-- <table>
        <thead>
            <tr>
                <th scope="col" colspan="2">Nome</th>
                <th scope="col">Empresa</th>
                <th scope="col">Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for i in cli %}
            <tr>
                <td colspan="2">
                    {{cli[i]['Nome do Negociante'].capitalize()}}
                </td>
                <td>
                    {{cli[i]['Nome da Loja'].capitalize()}}
                </td>
                {% if cli[i]['Situação'] == 'Ativa' %}
                    <td style="color: #2f5e36;"> 🟢 {{cli[i]['Situação'].capitalize()}}</td>
                {% else %}
                    <td style="color: #c1121f;"> 🔴 {{cli[i]['Situação'].capitalize()}}</td>
                {% endif %}
                <td>
                    <button>
                        Acessar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->